.fit-cover {
  object-fit: cover;
}

body {
  background-color: #F6CD13;
}

div#RedesSociales {
  align-items: center;
}

/*Redes sociales*/
img.RedSocial {
  width: 45px;
  height: 45px;
  margin: 5px;
  cursor: pointer;
  transition: 300ms;
  border-radius: 8px;
}

img.RedSocial#Facebook:hover {
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

img.RedSocial#WhatsApp:hover {
  width: 50px;
  height: 50px;
  margin: 2.5px;
  ;
}

img.RedSocial#Messenger:hover {
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

img.RedSocial#Facebook {
  border-radius: 10px;
}

img.RedSocial#Telegram:hover {
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

img.RedSocial#Twitter:hover {
  width: 50px;
  height: 50px;
  margin: 2.5px;
}

img.RedSocial#Instagram:hover {
  width: 50px;
  height: 50px;
  margin: 2.5px;
  border-radius: 12px;
}

img.RedSocial#Instagram {
  border-radius: 20px;
}

img.RedSocial#Instagram:hover {
  border-radius: 20px;
}

#ContactoCorreo {
  text-decoration: none;
}

.menubutton {
  text-decoration: none;
  color: red;
}

.carouselButton1 {
  background-color: #F62E28;
}

.carouselButton2 {
  background-color: white;
  color: black;
}

.my-3 {
  -webkit-text-stroke: 1px;
  padding: 7.5%;
  background-color: rgba(246, 205, 19, 0.5);
  color: #000000;
  border-radius: 10%;
}

#textBannerTitle {
  -webkit-text-stroke: 1px;
  padding: 7.5%;
  background-color: rgba(246, 121, 19, 0.5);
  color: #000000;
  border-radius: 10%;
}

.subtitleBanner {
  -webkit-text-stroke: 1px;
  padding: 7.5%;
  background-color: rgba(246, 121, 19, 0.5);
  color: #000000;
  border-radius: 10%;
}

img#LogoNerdPizza {
  width: 200%;
  height: auto;
}

h1.fw-bold.mb-4,
a.navbar-brand.d-flex.align-items-center {
  -webkit-text-stroke: 1px #f62e28;
}

div.dropdown a.dropdown-toggle {
  color: white;
  padding: 30%; 
  border-radius: 30%;
}